@model Tahaluf.Models.Home

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutUserPanel.cshtml";
}

<h1>Create</h1>

<h4>Home</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" accept="image/*"/>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Logopath" class="control-label"></label>
                <input asp-for="Logopath" class="form-control" />
                <span asp-validation-for="Logopath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bankname" class="control-label"></label>
                <input asp-for="Bankname" class="form-control" />
                <span asp-validation-for="Bankname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paragraph" class="control-label"></label>
                <input asp-for="Paragraph" class="form-control" />
                <span asp-validation-for="Paragraph" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Websitephone" class="control-label"></label>
                <input asp-for="Websitephone" class="form-control" />
                <span asp-validation-for="Websitephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wensiteemail" class="control-label"></label>
                <input asp-for="Wensiteemail" class="form-control" />
                <span asp-validation-for="Wensiteemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

