@model Tahaluf.Models.Wallet

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h1>Create</h1>

<h4>Wallet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" value="InValid" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Iban" class="control-label"></label>
                <input asp-for="Iban" class="form-control" />
                <span asp-validation-for="Iban" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" value=0 />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Createdate" class="control-label"></label>
                <input asp-for="Createdate" class="form-control" />
                <span asp-validation-for="Createdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bankid" class="control-label"></label>
                <select asp-for="Bankid" class ="form-control" asp-items="ViewBag.Bankid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Useracountid" class="control-label"></label>
                <select asp-for="Useracountid" class ="form-control" asp-items="ViewBag.Useracountid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

